<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtc.a10_26recycleview">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.type.watch" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RequestPermissionActivity" />
        <activity android:name=".TestSvgActivity"></activity>
        <activity android:name=".TestClickActivity">

        </activity>
        <activity android:name=".slide.TestSlideRecycleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>